<h1>Modification sur votre compte Swap Access !</h1>

<p>Votre compte Swapp Access a été modifié !</p>

<p>Une structure a été créée ou modifiée :</p>

<ul>
    <li>
        {{ structure }}
    </li>
</ul>

<p>Vous pouvez accéder à vos modules et vos structures sur votre espace.</p>

<p>
    <a href="{{ url('app_partner') }}">Votre espace partenaire.</a>
</p>
