<h1>Bienvenue sur Swap Access !</h1>

<p>Votre compte Swapp Access a été créé !</p>

<p>Identifiant de connexion : {{ userEmail }}</p>

<p>Comme il s'agit de votre première connexion, veuillez suivre le lien suivant afin de créer votre mot de passe :</p>

<p>
    <a href="{{ url('app_forgot_password_request') }}">{{ url('app_forgot_password_request') }}</a>
</p>
